.site-content {
    &--flex {
        flex-basis: auto;
        flex-grow: 1;
        flex-shrink: 0;
    }
}

.site-footer {
    &--flex {
        &--fixed--bottom {
            flex-basis: auto;
            flex-grow: 0;
            flex-shrink: 0;
        }
    }
}
