$brand-primary:             #7690A8 !default;
$brand-secondary:           red !default;
$brand-light:               #f3f3f3 !default;
$brand-lighter:             #eee !default;
$brand-dark:                #2E3D53 !default;
$brand-darker:              #78b200 !default;

$brand-red:                 crimson !default;
$brand-blue:                royalblue !default;
$brand-green:               forestgreen !default;
$brand-orange:      	    darkorange !default;

$font-weight-normal:        300 !default;
$font-weight-bold:          500 !default;

/* Typography */
@import 'https://fonts.googleapis.com/css?family=Roboto:300,500';

$base-color:                #333 !default;
$base-link-color:           $brand-primary !default;
$base-font-size:            18px !default;
$system-font-family:        Arial, serif !default;
$base-font-family:          "Roboto", $system-font-family !default;
$base-border-radius:        2px !default;
$base-font-weight-bold:     900;
$base-font-weight-normal:   500;
$base-font-weight-light:    300;

// h1-h6 sizes
$h1-font-size:              2rem !default;
$h2-font-size:              1.6rem !default;
$h3-font-size:              1.4rem !default;
$h4-font-size:              1.2rem !default;
$h5-font-size:              1rem !default;
$h6-font-size:              .8rem !default;

// h1-h6 font family
$h1-font-family:            $base-font-family !default;
$h2-font-family:            $base-font-family !default;
$h3-font-family:            $base-font-family !default;
$h4-font-family:            $base-font-family !default;
$h5-font-family:            $base-font-family !default;
$h6-font-family:            $base-font-family !default;

// h1 - h6 line heights
$h1-line-height:            $h1-font-size * 1.7 !default;
$h2-line-height:            $h2-font-size * 1.7 !default;
$h3-line-height:            $h3-font-size * 1.7 !default;
$h4-line-height:            $h4-font-size * 1.7 !default;
$h5-line-height:            $h5-font-size * 1.7 !default;
$h6-line-height:            $h6-font-size * 1.7 !default;

// h1 - h6 font weights
$h1-font-weight:            $base-font-weight-normal;
$h2-font-weight:            $base-font-weight-normal;
$h3-font-weight:            $base-font-weight-normal;
$h4-font-weight:            $base-font-weight-normal;
$h5-font-weight:            $base-font-weight-bold;
$h6-font-weight:            $base-font-weight-bold;
$h7-font-weight:            $base-font-weight-bold;


/* Buttons */
$base-btn-radius:           $base-border-radius !default;
$base-btn-padding:          6px 12px !default;
$base-btn-border:           1px solid lighten($base-color, 10%) !default;

/* Tables */
$table-primary:             $brand-primary !default;
$table-primary--light:      $brand-light !default;
$table-secondary:           $brand-lighter !default;

/* Alerts */
$alert-padding:             12px 10px !default;
$alert-padding--small:      6px 5px !default;

/* Support */
$wpcf7:                     true;
