html, body, div, p, span, b, i, em, a, h1, h2, h3, h4, h5, h6, table, tr, td, ul, ol, blockquote {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

* {
    &:before,
    &:after {
        box-sizing: inherit;
    }
}
