.alert {
	padding: $alert-padding;
	border-radius: $base-border-radius;
	
	a {
		color: currentColor;
	}
	
	&.alert-danger {
		color: $brand-danger;
		background-color: lighten($brand-danger, 50%);
		border: 1px solid lighten($brand-danger, 20%);
	}

	&.alert-warning {
		color: $brand-warning;
		background-color: lighten($brand-warning, 45%);
		border: 1px solid lighten($brand-warning, 30%);
		
		a {
			color: currentColor;
		}
	}

	&.alert-info {
		color: $brand-info;
		background-color: lighten($brand-info, 42%);
		border: 1px solid lighten($brand-info, 20%);
		
		a {
			color: currentColor;
		}
	}

	&.alert-ok {
		color: $brand-success;
		background-color: lighten($brand-success, 50%);
		border: 1px solid lighten($brand-success, 30%);
		
		a {
			color: currentColor;
		}
	}

	&.alert-small {
		padding: $alert-padding--small;
	}
	
	p {
    	margin: 0;
	}
}
