.nav {
    text-transform: $text-transform-nav;

    .menu-item {

        &:before {
            content: none;
        }
        
        a {
            color: $nav-link;
            display: inline-block;
        }
    }
}
