.nav {
    text-transform: $text-transform-nav;
    margin: 0;
    padding: 0;

    .menu-item {
        display: block;

        @include media-breakpoint-up(sm) {
            display: inline-block;  

            & + .menu-item {
                margin-left: 10px;
            }
        }

        &:before {
            content: none;
        }
        
        a {
            color: $nav-link;
        }
    }
}
